#hero{
    background-image: url(ali.jpg);
    background-size: cover;
    background-position:top center;
    position: relative;
    z-index: 1;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar {
    border-radius: 3px;
    background-color:rgb(63, 34, 34);
    position: sticky;
    top: 2px;
    border: crimson;
}



.navbar{
  background-color:  crimson;
  border-radius: 10px;
  
}
.navbar ul{
  overflow: auto;
}

l, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
}

ol, ul {
    padding-left: 58rem;
}

.navbar li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover{
  color: rgb(0, 0, 0);
  transition: .3s ease ;
}
.search{
  float: right;
  color: white;
  padding: 12px 75px;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
    
}


.navbar input{
  border: 1px solid rgb(122, 120, 120);
  border-radius: 10px;
  padding: 3px 18px;
  width: 117px;
  margin-right: -25px;
}












/* Service section  */
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: o auto;
    padding: 100px 0;
}

#services .service-top {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    letter-spacing: .05rem;
    font-weight: 200px;
}
#services .service-top p{
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: rgb(204, 51, 51);
    text-align: center;
    padding: 50px;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url('img-1.png');
    background-size: cover;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.8;
    z-index: -1;
    border-radius: 10px;
}
#services .service-bottom .icon {
    height: 50px;
    width: 50px;
    margin-bottom: 60px;
    
}
#services .service-item h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    
    color:rgb(255, 255, 255);
  
}
/* END of Service section  */








